body{
  background-image: url(../images/fondo-dark-wood.jpg);
  background-repeat: repeat;
  background-attachment:fixed;
  font-family: 'Catamaran', sans-serif;
  font-size: 16px;
  font-weight:normal;
  text-align: justify;
  line-height: 22px;
  color: white;
}

.contenedorBody{
  overflow: hidden;
  width: 960px;
  margin-left: 14%;
  margin-right: 14%;
}

.principio{
  margin-bottom: 1%;
  margin-top: -7%;
  width: 100%;
  background-color: rgba(0, 102, 255, 0.7);
}

.menuEnlaces{
  color: white;
}

.menuEnlacesFinal{
  color: white;
}

.separadorMenu{
  margin: 10px;
  font-size: 25px;
  position: relative;
  top: 3px;
}

.final{
  width: 100%;
  margin-top: 1%;
  margin-bottom: 1%;
}

h1{
  font-style:italic;
}

h2{
  text-decoration: underline;
  font-weight: normal;
}

p1{
  text-align: center;
}

#pInfoPrincipal{
  text-align: center;
}

.redesSociales{
  text-align: center;
  overflow: hidden;
  width: 100%;
  margin-left: 20%;
  /*border: white 3px solid;*/
}

.redesSociales #logoFb{
  float: left;
  width: 20%;
  margin-right: 2%;
}

.redesSociales #logoTw{
  float: left;
  width: 20%;
  margin-right: 2%;
}

.redesSociales #logoIn{
  float: left;
  width: 20%;
}

#header{
  background-color: rgba(0, 102, 255, 0.7);
  font-size: 25px;
  line-height: 25px;
}

#martinAckerman{
  color: #6bf3ff;
}

#footer{
  background-color: rgba(0, 102, 255, 0.7);
  font-size: 20px;
  line-height: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
}

#millon{
  color: #6bf3ff;
}

.principal{
  overflow: hidden;
}

.columna1{
  width: 70%;
  float: left;
}

.columna2 img{
  width: 100%;
}

.columna2{
  width: 29%;
  float: right;
}

.contenido1{
  border-top: white 2px solid;
  margin-bottom: 10px;
  padding: 15px;
}

.contenido2{
  border-top: white 2px solid;
  margin-bottom: 10px;
  padding: 15px;
}

.contenido3{
  border-top: white 2px solid;
  border-bottom: solid 2px white;
  margin-bottom: 10px;
  padding: 15px;
}

section{
  overflow: hidden;
}

.infoPersonal{
  /*border: white 3px solid;*/
}

#sectionHobbies{
  overflow: hidden;
  color: white;
}

.enlaces{
  background-color: none;
  width: 300px;
  float: left;
}

.multimedia{
  background-color: none;
  width: 630px;
  float: right;
}

.hobbie{
  float: left;
  width: 100%;
}

.futbol{
}

.gimnasio{
}

.netflix{
}

.h2Hobbies{
  text-decoration: none;
  color: white;
}

#footerHobbies{
  background-color: none;
  float: right;
}
